.item {
    border-radius: 0.3rem;
    height: 2rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.item-in-cart {
    background-color: cadetblue;
}

.item-not-in-cart {
    background-color: wheat;
}